*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.navbar{
    width: 100vw;
    display: flex;
    background-color: blueviolet;
    justify-content: space-around;
    align-items: center;
}
.banner-card{
    height: 70vh;
    position: relative;
    width: 100vw;
    margin-top: 1vh;
    margin-bottom: 3vh;
}
.banner-img{
    height: 70vh;
    width: 100vw;
    background-color: white;
}
.banner-title{
    position: absolute;
    top: 60%;
    left: 3%;
    color: white;
}
.banner-text{
    position: absolute;
    top: 70%;
    left: 3%;
    color: white;
    height: 4.5rem;
    overflow: hidden;
    margin-right: 5vh;
}



.movies-list{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
}

.movies-card{
    width: 20vw;
    margin: 1rem;
    color: white;
    position: relative;
}
.movies-img{
    height: 40vh;
    width: 20vw;

}
.movies-title{
    position: absolute;
    top: 1rem;
    left: 1rem;
}
.movies-btn{
    position: absolute;
    bottom: 2rem;
}
.btn-wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
}

.pagination{
    display: flex;
    justify-content: center;
}


@media screen and (max-width:400px) {
    .banner-card{
        height: 30vh;
    }
    .banner-img{
        height: 30vh;
    }

    .movies-card{
        width: 40vw;
        margin: 0.1rem;
    }
    .movies-img{
        width: 40vw;

    }
    .movies-btn{
        width: 80%;
    }
}